<% render '/partials/header.*', image: item[:foto], extra_classes: '-large' do %>
Team <%= item[:teamnaam] %> <%= item[:year] %>
<% end %>

<% section :yellow do %>
<h1>
  <%= item[:teamnaam] %>

  <span class="sneaky">
    <%= item[:sneaky] %>
  </span>
</h1>

<blockquote>
  <%= yield %>
  <div class="quoteteamlead">
    <% if item[:teamleden] %>
    <%= item[:teamleden].first[:naam] %>, Team Lead (<%= item[:teamnaam] %>)
    <% end %>
  </div>
</blockquote>
</div>
<% end %>

<% if item[:teamleden] %>
  <% section :blue do %>
    <h1>Teamleden</h1>
    <div class="team-members-grid">
      <% team_lead = item[:teamleden][0] %>
      <div class="team-member-card -teamlead">
        <h3 class="name"><%= team_lead[:naam] %></h3>
        <p>
          <%= team_lead[:functie] %><br>
          <%= team_lead[:opleiding] %><br>
          <%= team_lead[:school] %><br>
        </p>
        <img class="picture" src="/assets/images/org/<%= team_lead[:photo] %>" alt="">
      </div>
    </div>
    <div class="team-members-grid">
      <% item[:teamleden][1..-1].each do |lid| %>
        <div class="team-member-card">
          <h3 class="name"><%= lid[:naam] %></h3>
          <p>
            <%= lid[:functie] %><br>
            <%= lid[:opleiding] %><br>
            <%= lid[:school] %><br>
          </p>
          <img class="picture" src="/assets/images/org/<%= lid[:photo] %>" alt="">
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>


<%= render '/crew/_meet-the-teams.*' %>
