---
title: Historiek
---
<% render '/partials/header.*', image: '/assets/images/design/header3.png' do %>
Historiek
<% end %>

<% jaren.zip([:blue, :red, :yellow].cycle).each do |hist, colour| %>
  <% section colour do %>
  <div class="container">
    <div class="historiek-section">
      <h1><%= hist[:jaar] %></h1>
      <!-- Wrapping class needed, flexbox doesnt maintain aspect ratio -->
      <div class="poster">
        <img src="/assets/images/affiches/affiche<%= hist[:jaar]%>.jpg" alt="">
      </div>
      <div class="description">
        <%= hist.compiled_content %>
        <div class="lineup">
          <h3>Line-Up</h3>
          <ul>
            <% hist[:lineup].each do |a| %>
            <li><%= a %></li>
            <% end %>
          </ul>
        </div>

        <% if hist[:secondstage] %>
        <div class="lineup">
          <h3>Second Stage Line-Up</h3>
          <ul>
            <% hist[:secondstage].each do |a| %>
            <li><%= a %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  <% end %>
<% end %>
