<header class="header-image">
    <div class="headline"></div>
</header>

<div class="section1">
  <div class="container">
    <h1>Historiek van de Student Kick-Off</h1>
  </div>
</div>
<% jaren.each_with_index do |hist,ind| %>
<div class="section<%= (ind % 3) +1 %>">
  <div class="container">
    <div class="row">
        <h1><%= hist[:jaar] %></h1>
      <img class="img-responsive col-md-3" src="/assets/images/affiches/<%= hist[:affiche] %>" alt="">
      <div class="col-md-9">
        <%= hist.compiled_content %>
        <h3>Line-Up</h3>
        <ul class="list-inline">
          <% hist[:lineup].each do |a| %>
            <li><%= a %></li>
          <% end %>
        </ul>
        <% if hist[:secondstage] %>
          <h3>Second Stage Line-Up</h3>
          <ul class="list-inline">

            <% hist[:secondstage].each do |a| %>
              <li><%= a %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>