---
title: Home
---
<!-- Full Width Image Header -->
<header class="header-image">
  <div class="header-background" style="background-image:url(/assets/images/design/header0.jpg);">
    <!-- Nothing -->
  </div>
  <div class="headline">
    <div>
      <a href="info/#rugzakkenverbod">
        <img class="bagbantop" src="assets/images/rugzakkenverbod.png">
      </a>
    </div>
      <div class="container">
        <div class="countercontainer">
            <a href="info/#rugzakkenverbod">
              <img class="bagban" src="assets/images/rugzakkenverbod.png">
            </a>
                <div class="counter">
                    Days
                    <div class="number">
                    </div>
                </div>
                <div class="counter">
                    Hours
                    <div class="number">
                    </div>
                </div>

                <div>
                  <img class="sko-logo" src="/assets/images/logo_sko.svg">
                </div>

                <div class="counter">
                    Minutes
                    <div class="number">
                    </div>
                </div>
                <div class="counter">
                    Seconds
                    <div class="number">
                    </div>
                </div>
                  <a href="info/#rugzakkenverbod">
                    <img class="bagban" src="assets/images/rugzakkenverbod.png">
                  </a>
            </div>
            <h1>Word jij de nieuwe SKO SUPERHERO?</h1>
            <a href="/meewerken"><h2>Join The Crew</h2></a>
        </div>

    </div>
</header>
<!-- Page Content -->
<div class="section1">
    <div class="container">
        <h1>STUDENT KICK-OFF</h1>
        <div class="col-md-2">
            <h2>ABOUT</h2>
        </div>
        <div class="col-md-10 text">
            <p>Student Kick-Off is hét grootste studentenwelkomsfestival in Vlaanderen. Wat in 2006 begon met 7 studenten en 9000 toeschouwers op het Kramersplein is uitgegroeid tot een vaste waarde onder de Gentse muziekevenementen. Een evenement dat jaarlijks over de 30.000 toeschouwers naar het Sint-Pietersplein lokt.</p>

            <p>SKO pakte al uit met grote namen zoals Gorki, Absynthe Minded, Nicole &amp; Hugo, Eddy Wally, Regi, Intergalactic Lovers en Samson &amp; Gert!</p>

            <p>Ook dit jaar, <strong>op 28 september</strong>, betreden toppers zoals Urbanus, Cleymans &amp; Van Geel, Scala en Gestapo Knallmuzik ons Student Kick-Off podium op het Sint-Pietersplein!</p>
        </div>
    </div>
</div>
<div id="lineup" class="section3">
    <div class="container">
        <h1>ZEG ME WIE &amp; WANNEER?</h1>
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <h2>MAIN STAGE</h2>
            <table class="table running-order">
                <% mainstageartists.each do |artist| %>
                    <tr>
                        <td>
                            <%= pretty_time(artist[:start]) %>
                        </td>
                        <td>
                            <a class="lineupartist" href="<%= relative_path_to(artist) %>">
                                <strong><%= artist[:name] %></strong>
                                <img src="/assets/images/design/arrowsprite.png" height= "25" width= "25"/>
                            </a>
                        </td>
                    </tr>
                <% end %>
            </table>
            <h3><span>Red Bull Elektropedia Stage</span> hosted by Decadance</h3>
            <table class="table running-order">
                <% secondstageartists.each do |artist| %>
                    <tr>
                        <td>
                            <%= pretty_time(artist[:start]) %>
                        </td>
                        <td>
                            <a class="lineupartist" href="<%= artist[:link] %>">
                                <strong><%= artist[:name] %></strong>
                                <img src="/assets/images/design/arrowsprite.png" height= "25" width= "25"/>
                            </a>
                        </td>
                    </tr>
                <% end %>
            </table>
            <h2>VOORPROEFJE?</h2>
            <p>
            Benieuwd wat we in petto hebben op 28 september? Geniet dankzij <a href="https://www.deezer.com/">Deezer</a> van een voorproefje!
            </p>
            <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=e94b43&layout=dark&size=medium&type=playlist&id=2230830102&app_id=1" width="100%" height="350"></iframe>
        </div>
    </div>
</div>

<div class="section2">
    <div class="container videorapper">
        <!-- 16:9 aspect ratio -->
        <div class="videosection">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FStudentKickOff%2Fvideos%2F1232437703474238%2F&show_text=0"></iframe>
            <img src="/assets/images/design/TV.png"></i>
         </div>
    </div>
</div>

<!-- <div class="photoslider">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <img src="http://placehold.it/350x150" height="200">
    <p>FOTOS<p>
</div> -->

<div class="section1">
    <div class="container">
        <h1>#throwback</h1>
        <div class="row">
        <!-- 16:9 aspect ratio -->
            <div class="col-md-10 col-md-offset-1">
                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
                <div id="links">
                    <% galleryimage.each_with_index do |img, index| %>
                        <% title = (index+1).to_s + "/" + galleryimage.length.to_s %>
                        <a href="<%= img.path %>" title="<%= title %>" data-gallery>
                            <% if index < 36  %>
                                <img src="<%= img.path(rep: :thumbnail) %>" alt="<%= title %>">
                            <% end %>
                        </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/javascripts/sko_afteller.js"></script>
