---
title: Home
---
<!-- Fireworks

<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

-->

<% render '/partials/header.*', image: '/assets/images/design/header5.jpg' do %>
   <img src="/assets/images/logo_sko_animated.svg" width="150">
  <!-- <h1><%= pretty_show_time %></h1> -->
  <h1> Student Kick-Off 2018 </h1>
  <!-- <h2><a href="https://join.studentkickoff.be"> Join the Crew!</a></h2> -->
   <h2><a href="https://studentkickoff.beeple.eu/" class="button">Join the crew!</a>
</h2>
<!--   <div class="countdown-timer">
  <div class="counter">
    Days
    <div class="number">
    </div>
  </div>
  <div class="counter">
    Hours
    <div class="number">
    </div>
  </div>

  <img src="/assets/images/logo_sko.svg">

  <div class="counter">
    Minutes
    <div class="number">
    </div>
  </div>
  <div class="counter">
    Seconds
    <div class="number">
    </div>
  </div>
</div>


<script src="/assets/javascripts/sko_afteller.js" charset="utf-8"></script> -->
<% end %>

<!-- Page Content -->
<% section :yellow do %>
<h1>STUDENT KICK-OFF</h1>
<div class="subsection-columns">
  <h2>ABOUT</h2>
  <div class="text">
    <p>Student Kick-Off is hét grootste studentenwelkomsfestival in Vlaanderen. Wat in 2006 begon met 7 studenten en 9000 toeschouwers op het Kramersplein is uitgegroeid tot een vaste waarde onder de Gentse muziekevenementen. Een evenement dat jaarlijks over de 30.000 toeschouwers naar het Sint-Pietersplein lokt.</p>

    <p>SKO pakte al uit met grote namen zoals Gorki, Absynthe Minded, Nicole &amp; Hugo, Eddy Wally, Regi, Intergalactic Lovers en Samson &amp; Gert!</p>
  </div>
</div>
<% end %>

<!-- Artists will not be empty if there are artists filled in for the current edition (nanoc.yaml) -->
<% if !artists.empty? %>
<% section :blue do %>
<h1>ZEG ME WIE &amp; WANNEER?</h1>
<h2 id="lineup">MAIN STAGE</h2>
<div class="artist-grid">
<% artists_for('Main Stage').each do |artist| %>
<div class="artist-card">
  <div class="imgwrapper">
    <img src="<%= artist[:image] %>"/>
  </div>
  <div class="info">
    <div class="name">
      <%= artist[:name] %>
    </div>
    <% unless artist[:start].blank? || artist[:end].blank? %>
    <div class="time">
      <%= pretty_time(artist[:start]) %> - <%= pretty_time(artist[:end]) %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
</div>
<p>
  <!--<h2>The Desperados Club hosted by Decadance</h2>-->
  <div class="artist-grid">
  <% artists_for('Second Stage').each do |artist| %>
  <div class="artist-card">
    <div class="imgwrapper">
      <img src="<%= artist[:image] %>"/>
    </div>
    <div class="info">
      <div class="name">
        <%= artist[:name] %>
      </div>
      <div class="time">
        <%= pretty_time(artist[:start]) %> - <%= pretty_time(artist[:end]) %>
      </div>
    </div>
  </div>
  <% end %>
</div>

</p>
<% end %>
<% end %>

<% section :red do %>
<h1>Bekijk de aftermovie</h1>
<div class="videorapper">
  <div id='video' class="videosection">
<iframe width="560" height="315" src="https://www.youtube.com/embed/SY9mb0oPfm0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <img id='tv' src="/assets/images/design/TV.png">
  </div>
</div>
<% end %>


<% section :yellow do %>
<h1>#throwback</h1>
<!-- 16:9 aspect ratio -->
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
<div id="links">
  <% galleryimage.each_with_index do |img, index| %>
  <% title = "#{index+1}/#{galleryimage.length}" %>
  <a href="<%= img.path %>" title="<%= title %>" data-gallery>
    <% if index < 36  %>
    <img src="<%= img.path(rep: :thumbnail) %>" alt="<%= title %>">
    <% end %>
  </a>
  <% end %>
</div>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<% end %>
