<header class="header-image">
    <div class="headline"></div>
</header>
<div class="section1">
  <div class="container">
    <div class="row">
      <h1><%= item[:teamnaam] %></h1>
    </div>

    <div class="row">
  <!--     <div class="col-md-6">
    <img class="img-responsive center-block" src="<%= item[:foto] %>" alt="">
  </div>
  <div class="col-md-6">

  </div> -->
      <div class="col-sm-12 col-md-12">
<!--           <img src="<%= item[:foto] %>" alt="...">
 -->
          <blockquote >
            <%= yield %>
            <div class="quoteteamlead">
              <%= item[:teamleden].first[:naam] %>, Team Lead (<%= item[:teamnaam] %>)
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section2">
  <div class="container">
    <div class="row">
      <h1>Teamleden</h1>

      <% item[:teamleden].each do |lid| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="teamlidcard">
          <div class="caption">
            <h3><%= lid[:naam] %></h3>
            <p>
              <%= lid[:functie] %><br>
              <%= lid[:opleiding] %><br>
              <%= lid[:school] %><br>
              <a href="mailto:<%= lid[:email]%>@studentkickoff.be"><%= lid[:email] %>@studentkickoff.be</a>
            </p>
          </div>
          <img src="/assets/images/org/<%= lid[:foto] %>" class="img-responsive portfolio-item" alt="">
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>